// @use "styles/index";
@use "styles/index" as *;


// Bring the Rota font-face

// @font-face {
//   font-family: Rota;
//   src: url("src/Rota\ Complete\ Family/");

// }

// 1rem = 16px
:root {
  font-size: 16px;
}

// border-box tells the browser to account for any border and padding in the values you specify for an element's width and height. If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added, and the content box will shrink to absorb that extra width

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,p {
  margin: 0;
  


}


// noise background img to change to alternative .svg
.hero1 {
  background: url("src/imgs/background-repeat-20.svg");
  background-color: map-get($brandColors, primary);
 
  width: 100%;
  height: 100vh;
  position: relative;
}

main {
  position: relative;
}

// header only includes logo and contact link
.header-container {
  @include display-flex-row;
  align-items: flex-end;
  padding: 3rem 1rem 3rem 1rem;
  justify-content: space-between;
  p {
    font-family: Rota;
    font-style: normal;
    font-weight: 950;
    font-size: 1.375rem;
    line-height: 100%;
    /* or 130% */

    text-align: right;
    // letter-spacing: -0.035em;
    text-transform: uppercase;

    color: map-get($brandColors, secondary);
  }

  * {
    margin: 0;
    padding: 0;
  }

  .nav-links-container {
    @include display-flex-row;
    list-style-type: none;

    a,
    li {
      font-family: Rota;
      font-style: normal;
      font-weight: 500;
      font-size: 1.375rem;
      line-height: 100%;
      /* or 130% */
      text-align: right;
      text-decoration: none;

      letter-spacing: 0.025em;
      text-transform: uppercase;

      color: #000000;
    }
  }
}

.hero--title {
  font-family: Rota;
  font-style: normal;
  font-weight: 950;
  font-size: 4.5rem;
  line-height: 85%;
  margin: 0;
  padding: 1rem;
  text-transform: uppercase;

  color: map-get($brandColors, secondary);
  text-align: center;

  .web {
    font-style: italic;
    font-weight: 265;
    /* or 103% */
  }

  .making {
    position: relative;
  }
  .making::after {
    content: "";
    background-color: #000000;
    width: calc(100vw - 100% - 1rem);
    height: 2%;
    position: absolute;
    top: 50%;
    overflow: visible;
    display: inline-block;
    @media (min-width: 450px) {
      display: none;
    }
  }
}

// always positioned at the bottom of the viewport
.profession-container {
  @include display-flex-column;
  align-items: flex-end;
  overflow: visible;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}

.profession-text {
  &::before {
    content: "";
    width: 80%;
    height: 1px;
    background-color: #000000;
    display: block;
    margin-bottom: 0.5rem;
  }
  span {
    font-family: Rota;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 104%;
    /* or 104% */

    letter-spacing: 0.025em;
    text-transform: uppercase;

    color: #000000;
  }

  div {
    display: flex;
  }

  .PD,
  .FRONT-END-WEB,
  .DEV-UXUI > * {
    margin: 0;
  }
  .PD {
    gap: 1rem;
  }
  .FRONT-END-WEB {
    gap: 1.5rem;
  }

  .DEV-UXUI {
    gap: 2.5rem;
  }
}

.cta-link {
  font-family: Rota;
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 148%;
  /* identical to box height, or 148% */

  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding: 1rem;
  margin: 0;
  text-decoration: none;

  color: #000000;
  position: absolute;
  bottom: 0;
  right: 0;
}
